<h2>Ciudades</h2>


<table class="table table-striped">
		<thead class="thead">
		<tr>
			<th>Nombre</th>
		
			
		</tr>
		</thead>
		<% @city.each do |c| %>
		<tr>
			
			<td><%= link_to c.nombre, city_path(c)  %>  </td>
			<% if user_signed_in? %>
				<td><%= link_to 'Editar', edit_city_path(c), class: "btn btn-primary"%></td>
				<td><%= button_to 'Eliminar', c , method: :delete, data: { confirm: 'Esta seguro ?' }, class: "btn btn-danger" %></td>
			<% end %>

		</tr>
		<% end %>

	</table>	

	

	<h4><%= link_to 'Nueva ciudad', new_city_path, class:"btn btn-primary" %></h4>