

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green;
  font-size: 20px; }
#alert {
  font-size: 20px;
  color: red; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }


.btn-primary {
    color: #fff;
    background-color: #006080;
    border-color: #006080;

 }

.btn-primary:hover{color:#fff;background-color:#004d66;border-color:#004d66}
.btn-primary:focus,.btn-primary.focus{box-shadow:0 0 0 .2rem rgba(0,90,90,0.5)}


a {color: #006080;} 




