
    <div class="navbar">
		<span style="color:grey;font-size:80%;font-family: verdana;"> &#169; Grupo Nueve 2020 </span>
	</div> 

  
      <div class="navbar justify-content-end">
		  
		  <%= link_to 'Usuario', new_user_session_path,class: "nav-link" %>
		  <%= link_to 'Admin', new_admin_session_path,class: "nav-link" %>
		  <%= link_to 'Chofer', new_chofer_session_path,class: "nav-link" %>

	  </div>
    