<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Suscripcion a COMBI-19</title>
  </head>
  <body>
    <div>
      <p> Felicidades! </p>
      <p>Ya te suscribiste </p>
      
      <p>Ya cuentas con todos los beneficios para nuestros usuarios suscriptos</p>
      
      
      <p>Muchas gracias!</p>
    </div>
  </body>
</html>