<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bienvenido a COMBI-19</title>
  </head>
  <body>
    <div>
      <p> Hola! </p>
      <p>Gracias por comprar en COMBI-19 </p>
      <p>Hemos generado una cuenta para que puedas ver tus pasajes</p>
      <p><%=link_to "Ingresa a este link para poder generar tu contraseña", edit_user_password_url(reset_password_token: @token), html_options = { style: "font-weight: bold" } %>.</p>
      
      <p>Tienes hasta 2 semanas para reiniciar tu contraseña. Ante cualquier duda podes comunicarte a <a href="">support@combi-19.com</a></p>
      <p>Muchas gracias!</p>
    </div>
  </body>
</html>